.container {
    width: 100%;
    height: 100vh;
}

.listing_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.link {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}